* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  padding: 15px;
  font-weight: bold;
}
.center {
  text-align: center;
}
.border-black {
  border-bottom-style: solid;
  border-color: #272727;
}
.border-gray {
  border-bottom-style: solid;
  border-color: #858585;
  border-width: 1px;
}
.card {
  padding: 15px;
  margin: 15px 7px 15px 7px;
  background-color: #cfcfcf;
}
.card > h5 {  /* dish title */
  font-weight: bold;
}
section {
  margin-bottom: 50px;
}
/* Responsive */
@media (min-width: 576px) { 
  .visible-xs {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-sm {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .visible-md {
    display: none !important;
  }
}
